/* Estilos gerais */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Centraliza o conteúdo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Container principal */
.container {
    max-width: 800px; /* Largura máxima do container */
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
}

/* Formulário de pesquisa */
.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    width: 100%;
}

.search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
}

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-info {
    background-color: #17A2B8;
    color: white;
}

.btn-warning {
    background-color: #FFC107;
    color: white;
}

.btn-danger {
    background-color: #DC3545;
    color: white;
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: #f8f8f8;
}
